In [165]:
# Import dependencies
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
from matplotlib import style
import os
from sklearn.linear_model import LinearRegression

In [226]:
# Read in the data
url_climate_data_complete = 'https://raw.githubusercontent.com/Ricardolpz99/Turn-Green/main/Database/Clean/Climate_data_all_variables.csv'
df = pd.read_csv(url_climate_data_complete)
df.head()

,Entity,Code,Year,Annual CO2 emissions (per capita),Renewable electricity per capita (kWh),Renewables (% sub energy),Solar Generation - TWh,Wind Generation - TWh,Hydro Generation - TWh,Geo Biomass Other - TWh
0,Africa,AFR,2000,1.0936,95.341,6.759,0.011941,0.175500,75.245817,2.269063
1,Africa,AFR,2001,1.0645,101.444,6.982,0.014960,0.415580,80.864115,2.335353
2,Africa,AFR,2002,1.0489,101.457,7.219,0.017871,0.443584,85.181468,2.286400
3,Africa,AFR,2003,1.1094,97.575,6.703,0.021329,0.535599,82.872601,2.622400
4,Africa,AFR,2004,1.1603,101.360,6.612,0.025761,0.768281,87.405469,2.978850

In [227]:
# df = df.loc[df ['Entity'] == 'Portugal']
# df

In [228]:
# Rename Colums Annual CO2 emissions (per capita) and Renewables (% sub energy)
df= df.rename(columns={"Annual CO2 emissions (per capita)":"Emissions","Renewables (% sub energy)":"Renewables","Renewable electricity per capita (kWh)": "Renewable per capita","Solar Generation - TWh": "Solar Generation","Wind Generation - TWh": "Wind Generation","Hydro Generation - TWh": "Hydro Generation","Geo Biomass Other - TWh": "Geo Biomass Other"})
df

,Entity,Code,Year,Emissions,Renewable per capita,Renewables,Solar Generation,Wind Generation,Hydro Generation,Geo Biomass Other
0,Africa,AFR,2000,1.0936,95.341,6.759,0.011941,0.175500,75.245817,2.269063
1,Africa,AFR,2001,1.0645,101.444,6.982,0.014960,0.415580,80.864115,2.335353
2,Africa,AFR,2002,1.0489,101.457,7.219,0.017871,0.443584,85.181468,2.286400
3,Africa,AFR,2003,1.1094,97.575,6.703,0.021329,0.535599,82.872601,2.622400
4,Africa,AFR,2004,1.1603,101.360,6.612,0.025761,0.768281,87.405469,2.978850
...,...,...,...,...,...,...,...,...,...,...
453,Romania,ROU,2016,3.7458,1362.377,17.975,1.820000,6.590000,18.028000,0.531000
454,Romania,ROU,2017,3.9281,1235.883,15.801,1.856000,7.407000,14.494000,0.525168
455,Romania,ROU,2018,3.9787,1342.656,16.634,1.771000,6.322000,17.663900,0.437130
456,Romania,ROU,2019,3.8651,1271.911,15.962,1.778000,6.773000,15.580921,0.504144
457,Romania,ROU,2020,3.7154,1279.260,16.228,1.703000,6.955000,15.087386,0.575069

In [229]:
# # Compare actual values of the columns
# plt.figure(figsize=(20,20))
# plt.scatter(americas_df.Emissions, americas_df.Renewables)
# plt.xlabel('Renewables')
# plt.ylabel('Emissions')
# plt.show()

In [230]:
# Def input variable
X = df[['Renewables', 'Renewable per capita','Solar Generation', 'Wind Generation','Hydro Generation', 'Geo Biomass Other']]

In [231]:
# #formats the data to meet the requirements of the Scikit-learn library
# X = americas_df.Renewables.values.reshape(-1, 1)

In [232]:
id_df =df[['Entity', 'Code','Year','Emissions']]

In [233]:
#examine the first five entries in 
X[:5]

,Renewables,Renewable per capita,Solar Generation,Wind Generation,Hydro Generation,Geo Biomass Other
0,6.759,95.341,0.011941,0.175500,75.245817,2.269063
1,6.982,101.444,0.014960,0.415580,80.864115,2.335353
2,7.219,101.457,0.017871,0.443584,85.181468,2.286400
3,6.703,97.575,0.021329,0.535599,82.872601,2.622400
4,6.612,101.360,0.025761,0.768281,87.405469,2.978850

In [234]:
# The shape of x , with a single feature
X.shape

(458, 6)

In [235]:
# Assing Target variable
y = df.Emissions

In [236]:
# Create an instance of linear regression model
model = LinearRegression()

In [237]:
# fitting step
model.fit(X, y)

LinearRegression()

In [238]:
#Generate predictions
y_pred = model.predict(X)
print(y_pred.shape)

(458,)

In [239]:
# # Print overall trend
# plt.figure(figsize=(20,20))
# plt.scatter(X, y)
# plt.plot(X, y_pred, color='red')
# plt.xlabel('Renewables %')
# plt.ylabel('Emissions')
# plt.show()

In [240]:
# Obtain the coefficient of determination by calling the model with the score() function, then print the coefficient:
r_sq = model.score(X, y)
print('coefficient of determination:', r_sq)

# Print the Intercept:
print('intercept:', model.intercept_)

# Print the Slope:
print('slope:', model.coef_) 

# Predict a Response and print it:
y_pred = model.predict(X)
print('Predicted response:', y_pred, sep='\n')

coefficient of determination: 0.3301253119132972
intercept: 9.059330278445938
slope: [-0.30550059  0.00091581  0.01081567 -0.0159797   0.0018386   0.0243075 ]
Predicted response:
[ 7.27259278  7.21819271  7.15213295  7.30870535  7.35330053  7.3542358
  7.34083226  7.35519304  7.44318492  7.44040869  7.37757358  7.33947515
  7.41099725  7.35225737  7.32035977  7.30712692  7.3456809   7.25262988
  7.16389484  7.04007982  6.71954332  5.97701605  6.53949735  5.70561117
  4.87274554  4.69357222  5.27350641  5.88587867  5.80693167  5.69008628
  6.26574295  6.36339289  6.02898309  5.99125369  6.06022618  6.28924599
  6.18730662  6.09747545  6.06864315  6.25118386  5.98361501  5.96483963
  5.6746726   5.7704025   8.62823116  8.67537008  8.732001    8.75139746
  8.77172435  8.79302602  8.82175103  8.77743402  8.80846341  8.79005561
  8.82274413  8.88345527  8.83330905  8.89736857  8.93230337  8.86091634
  8.73747651  8.71734579  8.51447771  8.48364951  8.47224702  8.73595699
  8.5189414   8.37375991  8.60669611  8.27497541  8.32929784  8.04038501
  4.43559337  4.81298245  4.74236948  4.73938877  4.56628436  4.47005959
  4.9571464   5.03892015  5.80313269  5.54482774  5.58055306  5.36842442
  4.95232833  4.96738075  4.375463    4.93564636  4.74307958  4.30128224
  4.36838728  3.88504321  4.06577856  4.1924858   4.45548096  4.30652385
  4.41630816  3.68851746  8.41252366  8.49615352  8.43326159  8.29850825
  8.36201549  8.36021454  8.45611035  8.6018859   8.91631529  8.81795766
  8.7945127   8.83008942  8.84263524  8.88196924  8.83310474  8.83948085
  8.81471071  8.85773069  8.87538699  8.87978229  9.0273146   9.03227202
  9.01574981  9.00354081  8.9385632   8.97455375  8.94368572  8.95411103
  9.05141282  9.04806538  9.04395925  9.04152744  9.04490287  8.93143302
  8.85951505  8.74050422  8.65473733  8.64472491  8.44293107  8.48581748
  8.53362609  8.49483261  8.44331123  8.40612066  7.604026    0.3056104
  0.96727145  1.25192208  0.74834419 -0.10572026 -0.12698151 -0.80567449
 -1.09627534 -1.48394227  8.03111485  7.56623599  8.13761692  7.73125203
  7.15326586  7.24364886  7.12483269  7.36935912  7.67626913  6.99102757
  7.32555232  6.98798353 11.19128736 11.3491268  11.63163796 11.82163831
 12.11845744 12.03303574 11.69354402 11.96515173 12.11821301 11.73930924
 12.09586664 11.97198534 12.09231281 12.18810964 11.9827439  12.26012541
 12.13721181 11.70939891 11.63191663 11.96515311 11.93499839 12.34708238
 12.26487423 11.82953944 11.73040521 11.65146383 11.7429731  11.68516173
 11.16023359  5.38100366  5.39270092  4.91017399  4.59130015  5.1920845
  4.43166286  4.10199335  4.12804194  3.58126604  8.04288549  8.1216376
  8.13977514  8.09257529  8.08095187  8.03039833  8.10762206  8.09198525
  8.07031855  8.1310042   8.05767084  7.91802461  8.03918656  8.30502261
  8.38984544  8.57233175  8.68112704  8.80602404  8.74813622  8.71915113
  8.53375952  8.33944413  7.98853332  7.67053813  7.75433502  7.70332741
  7.24909082  7.14465351  7.11368963  7.47988364  7.44145328 -0.09671078
 -0.27511159  1.07104681  1.56827842  2.35600593  4.94754762  4.10030347
  5.71162377  5.40950198  3.37888454  3.01513624  4.21918521  3.9878741
  4.80103782  3.50627252  4.2051676   3.87340292  8.91116896  8.87403499
  8.85402532  8.8639116   8.8315478   8.74826132  8.7123575   8.60453637
  8.56021942  8.46598448  8.48195779  8.44224569  8.4313902   8.4917358
  8.50978731  8.45233772  8.29036889  8.81270903  8.61263211  8.40132558
  8.2796761   7.96775352  7.93667544  7.76495417  7.74704305  7.34506244
  7.18916373  7.62734996  7.27154169  7.19300948  6.99623096  6.76542908
  6.12924885  5.57230572  5.58960343  4.9202234   4.44408693  4.691048
  3.9255944   4.10079532  3.25080679  2.15498063  4.05030709  3.28561185
  4.25946432  4.27704431  4.15620577  4.81286207  4.89069504  4.28109924
  3.24109324  2.02590761  2.30837531  1.20260614 -0.24937048  8.69929978
  8.62661938  8.61527794  8.53710727  8.6813995   8.61549487  8.47407943
  8.52206798  7.99186553  8.65120469  7.89801695  7.64621221  9.22131961
  9.299822    9.30527926  9.32812989  9.48803714  9.46686394  9.4152294
  9.3961003   9.36334149  9.43578906  9.44515286  9.49360725  9.52696886
  9.51002686  9.47955457  9.52288029  9.4667422   9.53575617  9.553104
  9.58265617  9.61781154  9.42940173  9.36581882  9.23059061  9.39592775
  9.15355663  9.20071944  8.98733598  8.91622194  8.32505155  8.48086586
  7.70425368  7.62889234  6.83683726  5.85736999  4.57547218  4.72233384
  6.23810203  4.78799308  6.34920571  5.78359966 16.5213934  13.51068745
 14.6692562  11.45641495 11.87078148 15.40412166 12.91746396 14.74663738
 15.30699162 12.99266985 11.81849084 12.0082178  14.526371   12.59187014
 13.2166381  13.37652966 13.68809717 13.68214075 13.19717194 11.49776523
 13.4277103   6.0566062   6.08368031  6.46521147  6.55166271  6.05094439
  5.76138608  2.82714088  2.8299185   2.90635162  2.90094223  3.32454647
  2.3703155   2.28316985  2.17201162  0.81195973  4.69013799  4.02597276
  4.66276629  4.43321411  4.60735842  5.30411469  4.96701765  4.94924812
  5.43169855  5.68517595  5.86184151  6.04856212  6.19745831  6.29417691
  6.5686042   6.3410231   8.41417351  8.22771888  8.18191894  8.02239302
  7.88906249  7.95246076  7.85154427  7.92258602  7.69755091  7.53733824
  6.85305764  5.12748413  5.59036438  6.00533054  7.26844565  6.49942937
  6.00405486  7.18425736  5.75633549  6.72616648  7.50809876  5.97439178
  5.83589093  5.95879111  5.17103923  3.52721967  4.03983635  4.45566844
  3.13745385  2.98727345  4.10448844  3.38086238  4.86006011  3.8571742
  3.82805153  2.4795      6.59807328  5.90598859  6.61670548  6.70707117
  5.63002843  5.09792362  4.84763172  4.77606179  5.3050707   5.16847889
  5.29965464  5.22221886]

In [246]:
# Place the preductions in a Df
predictions_df = pd.DataFrame(y_pred, columns = ['Predictions'])
predictions_df

     Predictions
0       7.272593
1       7.218193
2       7.152133
3       7.308705
4       7.353301
..           ...
453     4.776062
454     5.305071
455     5.168479
456     5.299655
457     5.222219

[458 rows x 1 columns]

In [247]:
# Resetting a dataframe index with .reset_index()
X = X.reset_index()
print(X.head())

   index  Renewables  Renewable per capita  Solar Generation  Wind Generation  \
0      0       6.759                95.341          0.011941         0.175500
1      1       6.982               101.444          0.014960         0.415580
2      2       7.219               101.457          0.017871         0.443584
3      3       6.703                97.575          0.021329         0.535599
4      4       6.612               101.360          0.025761         0.768281

   Hydro Generation  Geo Biomass Other
0         75.245817           2.269063
1         80.864115           2.335353
2         85.181468           2.286400
3         82.872601           2.622400
4         87.405469           2.978850

In [248]:
# Drop a Pandas Dataframe index with `.reset_index()
X = X.reset_index(drop=True)
print(X.head())

   index  Renewables  Renewable per capita  Solar Generation  Wind Generation  \
0      0       6.759                95.341          0.011941         0.175500
1      1       6.982               101.444          0.014960         0.415580
2      2       7.219               101.457          0.017871         0.443584
3      3       6.703                97.575          0.021329         0.535599
4      4       6.612               101.360          0.025761         0.768281

   Hydro Generation  Geo Biomass Other
0         75.245817           2.269063
1         80.864115           2.335353
2         85.181468           2.286400
3         82.872601           2.622400
4         87.405469           2.978850

In [249]:
#Drop Index

X= X.drop(columns= ['index'])

In [250]:
#Join Entity, code, year, emissions columns to predictions
predictions_df = id_df.join(predictions_df)

In [251]:
#Join predictions to input data
final_df = predictions_df.join(X)
final_df

,Entity,Code,Year,Emissions,Predictions,Renewables,Renewable per capita,Solar Generation,Wind Generation,Hydro Generation,Geo Biomass Other
0,Africa,AFR,2000,1.0936,7.272593,6.759,95.341,0.011941,0.175500,75.245817,2.269063
1,Africa,AFR,2001,1.0645,7.218193,6.982,101.444,0.014960,0.415580,80.864115,2.335353
2,Africa,AFR,2002,1.0489,7.152133,7.219,101.457,0.017871,0.443584,85.181468,2.286400
3,Africa,AFR,2003,1.1094,7.308705,6.703,97.575,0.021329,0.535599,82.872601,2.622400
4,Africa,AFR,2004,1.1603,7.353301,6.612,101.360,0.025761,0.768281,87.405469,2.978850
...,...,...,...,...,...,...,...,...,...,...,...
453,Romania,ROU,2016,3.7458,4.776062,17.975,1362.377,1.820000,6.590000,18.028000,0.531000
454,Romania,ROU,2017,3.9281,5.305071,15.801,1235.883,1.856000,7.407000,14.494000,0.525168
455,Romania,ROU,2018,3.9787,5.168479,16.634,1342.656,1.771000,6.322000,17.663900,0.437130
456,Romania,ROU,2019,3.8651,5.299655,15.962,1271.911,1.778000,6.773000,15.580921,0.504144
457,Romania,ROU,2020,3.7154,5.222219,16.228,1279.260,1.703000,6.955000,15.087386,0.575069

In [252]:
# Convert Df to CSV
final_df.to_csv('Resources/final.csv')